---
export enum ActivityLevel {
  Low = "Not Very Active",
  Medium = "Sometimes Active",
  High = "Very Active",
}

interface Props {
  title: string;
  body: string;
  href: string;
  icon?: string;
  customAccent?: string;
  customAccentLight?: string;
  activityLevel?: ActivityLevel;
}

const {
  href,
  title,
  body,
  icon,
  customAccent,
  customAccentLight,
  activityLevel,
} = Astro.props;
import { Icon } from "astro-icon/components";

const accent = customAccent || "136, 58, 234";
const accentLight = customAccentLight || "224, 204, 250";
const accentGradient = `linear-gradient(45deg, rgb(${accent}), rgb(${accentLight}) 30%, white 60%);`;
---

<li class="link-card">
  <a href={href}>
    <div class="grid grid-cols-[auto_1fr] justify-center gap-2 relative">
      <Icon name={icon || "mdi:web"} size={24} />
      <div>
        <h2>
          {title}
          <span>&rarr;</span>
        </h2>
        <p class="text-wrap max-w-2xl">
          {body}
        </p>
      </div>
      {
        activityLevel && (
          <span
            class={"absolute top-0 right-0 rounded-lg px-2 py-1 text-xs border-[1px] " +
              (activityLevel === ActivityLevel.High
                ? "bg-green-900 border-green-500"
                : activityLevel === ActivityLevel.Medium
                  ? "bg-yellow-900 border-yellow-500"
                  : "bg-red-900 border-red-500")}
            style=
          >
            {activityLevel}
          </span>
        )
      }
    </div>
  </a>
</li>

<style define:vars={{ accentGradient, accentLight }}>
  .link-card {
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: #23262d;
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }
  .link-card > a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    padding: calc(1.5rem - 1px);
    border-radius: 8px;
    color: white;
    background-color: #23262d;
    opacity: 0.8;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .link-card:is(:hover, :focus-within) {
    background-position: 0;
    background-image: var(--accentGradient);
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accentLight));
  }
</style>
